<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!-- Ensure 'robots.txt' is NOT listed here -->
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
